################################################################################

width = 256
step = 16
range = -20 * width

jmp go

src:
  cpy fuse, cont, 0
caught:
  frk caught
  jmp caught

catch:
  jmp catch + step

cont:
  jmp cont + 1

go:
  set cnt, -step
loop:
  cpi src, catch, cnt
  dec cnt, step
  jge loop, cnt, range

fuse:
  jmp go

################################################################################

dist = 16 * width
fwdstep = 8
len = end - fwd
dst = fwd + dist
 
fwd:
  set cnt, fwdstep + 2
fwdclr:
  cpi end, hlt, cnt
  inc cnt, fwdstep
  cpi end, hlt, cnt
  inc cnt, fwdstep
  jle fwdclr, cnt, dist
 
  set cnt, 0
fwdcpy:
  cpy dst, fwd, cnt
  inc cnt
  cpy dst, fwd, cnt
  inc cnt
  jle fwdcpy, cnt, len
 
  jmp dst
 
end:
cnt:
hlt:
  dat

################################################################################
