################################################################################

width = 256
range = width * 33

dist = width * 32
step = 16

################################################################################

len = end - src
dst = src + dist
max = src + dist - step - 1

src:
  set cnt, step
clr:
  cpi end, hlt, cnt
  cpi end + step, hlt, cnt
  cpi end + 2 * step, hlt, cnt
  inc cnt, 3 * step
  jle clr, cnt, max

  set cnt, 0
cpy:
  cpy dst, src, cnt
  cpy dst + 1, src + 1, cnt
  cpy dst + 2, src + 2, cnt
  inc cnt, 3
  jle cpy, cnt, len

  fkj dst

  set cnt, step + (step / 2)
clr2:
  cpi end, hlt, cnt
  cpi end + step, hlt, cnt
  cpi end + 2 * step, hlt, cnt
  inc cnt, 3 * step
  jle clr2, cnt, max

end:
cnt:
hlt:
  dat

################################################################################
