################################################################################

adr0:
  jmp adr1
adr1:
  jmp adr2
adr2:
  jmp adr3
adr3:
  jmp adr4
adr4:
  jmp adr5
adr5:
  jmp adr6
adr6:
  jmp adr7
adr7:
  jmp adr8
adr8:
  jmp adr9
adr9:
  jmp adr0

################################################################################
