################################################################################

width = 256
range = width * 33

dist = width * 32
step = 32

frk fwdgo
jmp bwdgo

################################################################################

bwdlen = bwdend - bwd 
bwddst = bwd - dist
bwdmax = bwd - range + step + 1

bwd:
  set bwdcnt, -step - 16
bwdclr:
  cpi bwdend, bwdhlt, bwdcnt
  cpi bwdend - step, bwdhlt, bwdcnt
  cpi bwdend - 2 * step, bwdhlt, bwdcnt
  dec bwdcnt, 3 * step
  jge bwdclr, bwdcnt, bwdmax

bwdgo:
  set bwdcnt, 0
bwdcpy:
  cpy bwddst, bwd, bwdcnt
  cpy bwddst + 1, bwd + 1, bwdcnt
  cpy bwddst + 2, bwd + 2, bwdcnt
  inc bwdcnt, 3
  jle bwdcpy, bwdcnt, bwdlen

  jmp bwddst

bwdend:
bwdcnt:
bwdhlt:
  dat

################################################################################

fwdlen = fwdend - fwd
fwddst = fwd + dist
fwdmax = fwd + range - step - 1

fwd:
  set fwdcnt, step + 18
fwdclr:
  cpi fwdend, fwdhlt, fwdcnt
  cpi fwdend + step, fwdhlt, fwdcnt
  cpi fwdend + 2 * step, fwdhlt, fwdcnt
  inc fwdcnt, 3 * step
  jle fwdclr, fwdcnt, fwdmax

fwdgo:
  set fwdcnt, 0
fwdcpy:
  cpy fwddst, fwd, fwdcnt
  cpy fwddst + 1, fwd + 1, fwdcnt
  cpy fwddst + 2, fwd + 2, fwdcnt
  inc fwdcnt, 3
  jle fwdcpy, fwdcnt, fwdlen

  jmp fwddst

fwdend:
fwdcnt:
fwdhlt:
  dat

################################################################################
