################################################################################

width = 256

################################################################################

  frk run
  frk loop
  frk loop

loop:
  set loop - 1, 0
  set loop - 1, 0
  set loop - 1, 0
  set loop - 1, 0
  jmp loop

run:
  cpy run + 1, run, run

################################################################################
