width = 256
range = width * 33

dist = 5
step = 16

length = end - src
dst = src + dist * width

src:
  set counter, width * (33 - dist)
clear:
  cpi end, halt, counter
  cpi end + step, halt, counter
  cpi end + 2 * step, halt, counter
  inc counter, 3 * step
  jle clear, counter, width * 33 - step;

  set counter, 0
copy:
  cpy dst, src, counter
  cpy dst + 1, src + 1, counter
  cpy dst + 2, src + 2, counter
  inc counter, 3
  jle copy, counter, length

  jmp dst
end:

counter:
  dat

halt:
  dat
